
<%# render partial: "list_a_link", locals: {link: link} %> 

<h2><%= link_to @link.title, @link %></h2>

<div>
  <small class="author">Submitted <%= time_ago_in_words(@link.created_at) %> ago by <%= link_to @link.user.name, user_profile_path(@link.user.id) %>
    <% if @link.user.profile.name %>
      (<%= @link.user.profile.name %>)
    <% end %>
  </small>
</div>

<div>
  <small class="category">Category: <%= @link.category.name %></small>
</div>

<div class="btn-group">
  <a class="btn btn-default btn-sm" href="<%= @link.url %>">Visit Link</a>

  <%= link_to upvote_link_path(@link), method: :put, remote: true, data: { id: @link.id }, class: "btn btn-default btn-sm" do %>
    <span class="likes-count glyphicon glyphicon-chevron-up" data-id="<%= @link.id %>">
      <%= @link.get_likes.size %>
    <span>
  <% end %>

  <%= link_to downvote_link_path(@link), method: :put, remote: true, data: { id: @link.id }, class: "btn btn-default btn-sm" do %>
    <span class="dislikes-count glyphicon glyphicon-chevron-down" data-id="<%= @link.id %>">
      <%= @link.get_dislikes.size %>
    <span>
  <% end %>
  <span class="score-count btn btn-default btn-sm disabled" data-id="<%= @link.id %>"><%= @link.score %></span>
</div>


<div>
	<span class="score-count" data-id="<%= @link.id %>">
	  <%= @link.score %>
	</span>
	score
</div>



<% if @link.user == current_user -%>
  <div class="btn-group">
    <%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %>
    <%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  </div>
<% end %>

<h3 class="comments_title">
  <%= @link.comment_threads.count %> Comments
</h3>

<div id="comments">
  <%#= render :partial => @link.comment_threads %>
  <%= render partial: "comments/template", locals: {commentable: @link, new_comment: @comment} %> 
</div>

